body {
  font-family: Bai Jamjuree;
}
.display-1 {
  font-family: 'Inter', sans-serif;
  font-size: 2.4rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 3rem;
}
.display-2 {
  font-family: 'Inter', sans-serif;
  font-size: 2rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 2.5rem;
}
.display-4 {
  font-family: 'Bai Jamjuree', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.375rem;
}
.display-5 {
  font-family: 'Inter', sans-serif;
  font-size: 1.4rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 1.75rem;
}
.display-7 {
  font-family: 'Bai Jamjuree', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.5rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 1.92rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 1.68rem;
    font-size: calc( 1.49rem + (2.4 - 1.49) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (1.49rem + (2.4 - 1.49) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.88rem;
    font-size: calc( 1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.12rem;
    font-size: calc( 1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 0px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 0px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 0px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 0px;
}
.bg-primary {
  background-color: #000000 !important;
}
.bg-success {
  background-color: #40b0bf !important;
}
.bg-info {
  background-color: #47b5ed !important;
}
.bg-warning {
  background-color: #ffe161 !important;
}
.bg-danger {
  background-color: #ff9966 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #000000 !important;
  border-color: #000000 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #004cd5 !important;
  border-color: #004cd5 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #002d7e !important;
  border-color: #002d7e !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #002d7e !important;
  border-color: #002d7e !important;
}
.btn-info,
.btn-info:active {
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
}
.btn-success,
.btn-success:active {
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
  color: #614f00 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #0a0800 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #614f00 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline {
  position: relative;
  z-index: 1;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  box-shadow: inset 0px 0px 0px 3px #000000;
  color: #000000;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  box-shadow: inset 0px 0px 0px 3px #000000;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  content: '';
  transition: all 0.3s;
  background: #000000;
  z-index: -1;
}
.btn-primary-outline:hover {
  color: #ffffff !important;
}
.btn-primary-outline:hover:after {
  width: 100%;
}
.btn-secondary-outline {
  position: relative;
  z-index: 1;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  box-shadow: inset 0px 0px 0px 3px #004cd5;
  color: #004cd5;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #004cd5 !important;
  background-color: transparent!important;
  box-shadow: inset 0px 0px 0px 3px #004cd5;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #004cd5 !important;
  border-color: #004cd5 !important;
}
.btn-secondary-outline:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  content: '';
  transition: all 0.3s;
  background: #004cd5;
  z-index: -1;
}
.btn-secondary-outline:hover {
  color: #ffffff !important;
}
.btn-secondary-outline:hover:after {
  width: 100%;
}
.btn-info-outline {
  position: relative;
  z-index: 1;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  box-shadow: inset 0px 0px 0px 3px #47b5ed;
  color: #47b5ed;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #47b5ed !important;
  background-color: transparent!important;
  box-shadow: inset 0px 0px 0px 3px #47b5ed;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
}
.btn-info-outline:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  content: '';
  transition: all 0.3s;
  background: #47b5ed;
  z-index: -1;
}
.btn-info-outline:hover {
  color: #ffffff !important;
}
.btn-info-outline:hover:after {
  width: 100%;
}
.btn-success-outline {
  position: relative;
  z-index: 1;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  box-shadow: inset 0px 0px 0px 3px #40b0bf;
  color: #40b0bf;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #40b0bf !important;
  background-color: transparent!important;
  box-shadow: inset 0px 0px 0px 3px #40b0bf;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
}
.btn-success-outline:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  content: '';
  transition: all 0.3s;
  background: #40b0bf;
  z-index: -1;
}
.btn-success-outline:hover {
  color: #ffffff !important;
}
.btn-success-outline:hover:after {
  width: 100%;
}
.btn-warning-outline {
  position: relative;
  z-index: 1;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  box-shadow: inset 0px 0px 0px 3px #ffe161;
  color: #ffe161;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffe161 !important;
  background-color: transparent!important;
  box-shadow: inset 0px 0px 0px 3px #ffe161;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffe161 !important;
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
}
.btn-warning-outline:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  content: '';
  transition: all 0.3s;
  background: #ffe161;
  z-index: -1;
}
.btn-warning-outline:hover {
  color: #000000 !important;
}
.btn-warning-outline:hover:after {
  width: 100%;
}
.btn-danger-outline {
  position: relative;
  z-index: 1;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  box-shadow: inset 0px 0px 0px 3px #ff9966;
  color: #ff9966;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ff9966 !important;
  background-color: transparent!important;
  box-shadow: inset 0px 0px 0px 3px #ff9966;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
}
.btn-danger-outline:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  content: '';
  transition: all 0.3s;
  background: #ff9966;
  z-index: -1;
}
.btn-danger-outline:hover {
  color: #000000 !important;
}
.btn-danger-outline:hover:after {
  width: 100%;
}
.btn-black-outline {
  position: relative;
  z-index: 1;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  box-shadow: inset 0px 0px 0px 3px #232323;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #232323 !important;
  background-color: transparent!important;
  box-shadow: inset 0px 0px 0px 3px #232323;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-black-outline:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  content: '';
  transition: all 0.3s;
  background: #232323;
  z-index: -1;
}
.btn-black-outline:hover {
  color: #ffffff !important;
}
.btn-black-outline:hover:after {
  width: 100%;
}
.btn-white-outline {
  position: relative;
  z-index: 1;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  box-shadow: inset 0px 0px 0px 3px #fafafa;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #fafafa !important;
  background-color: transparent!important;
  box-shadow: inset 0px 0px 0px 3px #fafafa;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #fafafa !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.btn-white-outline:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  content: '';
  transition: all 0.3s;
  background: #fafafa;
  z-index: -1;
}
.btn-white-outline:hover {
  color: #000000 !important;
}
.btn-white-outline:hover:after {
  width: 100%;
}
.text-primary {
  color: #000000 !important;
}
.text-secondary {
  color: #004cd5 !important;
}
.text-success {
  color: #40b0bf !important;
}
.text-info {
  color: #47b5ed !important;
}
.text-warning {
  color: #ffe161 !important;
}
.text-danger {
  color: #ff9966 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #000000 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #004cd5 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #40b0bf !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #47b5ed !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #ffe161 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #ff9966 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #fafafa !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #232323 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #000000;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #47b5ed;
}
.alert-warning {
  background-color: #ffe161;
}
.alert-danger {
  background-color: #ff9966;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
  -webkit-box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #000000;
  border-color: #000000;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #000000;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #b3b3b3;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #a0d8df;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Bai Jamjuree', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.375rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #000000 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Bai Jamjuree', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.375rem;
}
blockquote {
  border-color: #000000;
}
/* Forms */
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #000000;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #000000;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #000000;
  border-bottom-color: #000000;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #000000 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #004cd5 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23000000' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.image-wrapper {
  color: #000000;
}
.animate__fadeInUp {
  animation-name: none;
  position: relative;
}
.animate__fadeInUp:before {
  position: absolute;
  top: -1px;
  right: -1px;
  left: auto;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  content: '';
  background: white;
  animation: box1 1s forwards;
  animation-delay: 0.5s;
  z-index: 2;
}
.animate__fadeInUp:after {
  position: absolute;
  top: -1px;
  left: -1px;
  right: auto;
  width: 0%;
  height: calc(100% + 2px);
  content: '';
  background: currentColor;
  animation: box2 1s forwards;
  animation-delay: 0.5s;
  z-index: 3;
}
@keyframes box1 {
  to {
    width: 0%;
  }
}
@keyframes box2 {
  0% {
    width: 0%;
    left: 0;
    right: auto;
  }
  49% {
    width: calc(100% + 2px);
    left: 0;
    right: auto;
  }
  51% {
    width: calc(100% + 2px);
    left: auto;
    right: 0;
  }
  100% {
    width: 0%;
    left: auto;
    right: 0;
  }
}
.cid-uBnDZV2JGN {
  z-index: 1000;
  width: 100%;
  position: relative;
  min-height: 60px;
}
.cid-uBnDZV2JGN nav.navbar {
  position: fixed;
}
.cid-uBnDZV2JGN .mbr-iconfont {
  padding: 0 1rem;
}
.cid-uBnDZV2JGN .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 992px) {
  .cid-uBnDZV2JGN .wrapper {
    flex-direction: column;
  }
}
.cid-uBnDZV2JGN .nav-link {
  position: relative;
}
.cid-uBnDZV2JGN .nav-link:hover {
  color: #000000 !important;
}
.cid-uBnDZV2JGN .dropdown-item:before {
  font-family: Moririse2 !important;
  content: '\e966';
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-uBnDZV2JGN .dropdown-menu {
  padding: 1rem 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  background: #ffffff !important;
}
.cid-uBnDZV2JGN .dropdown-item:hover,
.cid-uBnDZV2JGN .dropdown-item:focus {
  color: #000000 !important;
}
.cid-uBnDZV2JGN .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-uBnDZV2JGN .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-uBnDZV2JGN .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: .667em 1em !important;
}
.cid-uBnDZV2JGN .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-uBnDZV2JGN .container {
  display: flex;
  margin: auto;
}
.cid-uBnDZV2JGN .iconfont-wrapper {
  color: #ffffff !important;
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 0.2s;
}
.cid-uBnDZV2JGN .iconfont-wrapper:hover {
  color: #000000 !important;
}
.cid-uBnDZV2JGN .nav-item:focus,
.cid-uBnDZV2JGN .nav-link:focus {
  outline: none;
}
.cid-uBnDZV2JGN .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-uBnDZV2JGN .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-uBnDZV2JGN .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: .5rem;
  vertical-align: sub;
}
.cid-uBnDZV2JGN .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-uBnDZV2JGN .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-uBnDZV2JGN .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-uBnDZV2JGN .navbar-short {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-uBnDZV2JGN .navbar {
  min-height: 70px;
  transition: all .3s;
  border-bottom: 1px solid transparent;
  background: #004cd5;
}
.cid-uBnDZV2JGN .navbar.opened {
  transition: all .3s;
}
.cid-uBnDZV2JGN .navbar .dropdown-item {
  padding: .5rem 1.8rem;
}
.cid-uBnDZV2JGN .navbar .navbar-logo img {
  width: auto;
}
.cid-uBnDZV2JGN .navbar .navbar-collapse {
  justify-content: space-between;
  z-index: 1;
}
.cid-uBnDZV2JGN .navbar.collapsed {
  justify-content: center;
}
.cid-uBnDZV2JGN .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-uBnDZV2JGN .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-uBnDZV2JGN .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3rem);
  }
}
.cid-uBnDZV2JGN .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-uBnDZV2JGN .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-uBnDZV2JGN .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-uBnDZV2JGN .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-uBnDZV2JGN .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: .25rem 1.5rem;
  text-align: center;
}
.cid-uBnDZV2JGN .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
@media (max-width: 991px) {
  .cid-uBnDZV2JGN .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-uBnDZV2JGN .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-uBnDZV2JGN .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-uBnDZV2JGN .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-uBnDZV2JGN .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-uBnDZV2JGN .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-uBnDZV2JGN .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-uBnDZV2JGN .navbar .dropdown-menu .dropdown-item {
    padding: .25rem 1.5rem !important;
    text-align: center;
  }
  .cid-uBnDZV2JGN .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
  }
  .cid-uBnDZV2JGN .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-uBnDZV2JGN .navbar .icons-menu {
    padding-left: 0;
    padding-right: 0;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
}
.cid-uBnDZV2JGN .navbar.navbar-short {
  min-height: 60px;
}
.cid-uBnDZV2JGN .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-uBnDZV2JGN .navbar.navbar-short .navbar-brand {
  min-height: 60px;
}
.cid-uBnDZV2JGN .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding-right: 2rem;
  transition: all .3s;
  word-break: break-word;
  z-index: 1;
}
.cid-uBnDZV2JGN .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-uBnDZV2JGN .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-uBnDZV2JGN .dropdown-item.active,
.cid-uBnDZV2JGN .dropdown-item:active {
  background-color: transparent;
}
.cid-uBnDZV2JGN .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-uBnDZV2JGN .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-uBnDZV2JGN .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-uBnDZV2JGN .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #004cd5;
}
.cid-uBnDZV2JGN .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-uBnDZV2JGN .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-uBnDZV2JGN ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-uBnDZV2JGN .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-uBnDZV2JGN button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all .2s;
  position: relative;
  align-self: center;
}
.cid-uBnDZV2JGN button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ffffff;
}
.cid-uBnDZV2JGN button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-uBnDZV2JGN button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-uBnDZV2JGN button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-uBnDZV2JGN button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-uBnDZV2JGN nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-uBnDZV2JGN nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-uBnDZV2JGN nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-uBnDZV2JGN nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-uBnDZV2JGN .navbar-dropdown {
  padding: 0 1rem;
  position: fixed;
}
.cid-uBnDZV2JGN a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-uBnDZV2JGN .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-uBnDZV2JGN .navbar {
    height: 70px;
  }
  .cid-uBnDZV2JGN .navbar.opened {
    height: auto;
  }
  .cid-uBnDZV2JGN .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-uBnE14rT8d {
  background-color: #004cd5;
}
@media (min-width: 992px) {
  .cid-uBnE14rT8d .container-fluid {
    padding: 0;
  }
  .cid-uBnE14rT8d .text-wrapper {
    max-width: 700px;
  }
  .cid-uBnE14rT8d .mbr-section-title {
    margin-left: -6rem;
  }
}
.cid-uBnE14rT8d .row {
  align-items: center;
}
.cid-uBnE14rT8d .animate__fadeInUp:before {
  background: #004cd5;
}
.cid-uBnE14rT8d .mbr-text,
.cid-uBnE14rT8d .mbr-section-btn {
  color: #ffffff;
  text-align: left;
}
.cid-uBnE14rT8d .mbr-section-title {
  color: #ffffff;
  text-align: center;
}
.cid-uBnE14rT8d .mbr-fallback-image.disabled {
  display: none;
}
.cid-uBnE14rT8d .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uBnE5Vx5Dc {
  background-color: #ffffff;
}
.cid-uBnE5Vx5Dc .row {
  flex-direction: row-reverse;
}
.cid-uBnE5Vx5Dc .top {
  z-index: 5;
}
.cid-uBnE5Vx5Dc .img-col {
  position: relative;
}
.cid-uBnE5Vx5Dc .img1 {
  position: absolute;
  max-width: 60%;
  top: 0rem;
  right: 1rem;
}
.cid-uBnE5Vx5Dc .img2 {
  max-width: 90%;
  padding-top: 10rem;
}
@media (max-width: 767px) {
  .cid-uBnE5Vx5Dc .img2 {
    padding-top: 5rem;
  }
}
.cid-uBnE5Vx5Dc img {
  width: 100%;
}
.cid-uBnE5Vx5Dc .text-wrapper {
  z-index: 11;
}
.cid-uBnE5Vx5Dc .wrapper {
  display: flex;
}
.cid-uBnE5Vx5Dc .row {
  align-items: center;
}
.cid-uBnE5Vx5Dc .animate__fadeInUp:before {
  background: #ffffff;
}
.cid-uBnE5Vx5Dc .mbr-iconfont {
  display: block;
  font-size: 3rem;
  color: #000000;
  margin-right: 1.5rem;
}
@media (max-width: 767px) {
  .cid-uBnE5Vx5Dc .wrapper {
    flex-direction: column;
  }
  .cid-uBnE5Vx5Dc .iconfont-wrapper {
    margin: auto;
  }
  .cid-uBnE5Vx5Dc .mbr-iconfont {
    margin-right: 0rem;
    margin-bottom: 2rem;
  }
}
.cid-uBnE5Vx5Dc .mbr-section-title {
  color: #004cd5;
}
.cid-uBnE5Vx5Dc .mbr-text,
.cid-uBnE5Vx5Dc .mbr-section-btn {
  color: #161734;
}
.cid-uBnE5Vx5Dc .mbr-fallback-image.disabled {
  display: none;
}
.cid-uBnE5Vx5Dc .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uBsizsdHX5 {
  padding-top: 5rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-uBsizsdHX5 .card-wrapper {
  background: #004cd5;
}
.cid-uBsizsdHX5 .card {
  padding: 0.5rem;
}
.cid-uBsizsdHX5 .main-row {
  padding: 0 0.5rem;
}
.cid-uBsizsdHX5 .row {
  align-items: center;
  justify-content: center;
}
@media (max-width: 767px) {
  .cid-uBsizsdHX5 .row .row {
    flex-direction: column-reverse;
  }
  .cid-uBsizsdHX5 .row .row .img-wrapper {
    margin-bottom: 2rem;
  }
}
.cid-uBsizsdHX5 .img-wrapper,
.cid-uBsizsdHX5 img {
  height: 150px;
  object-fit: cover;
  margin: 0!important;
}
@media (max-width: 767px) {
  .cid-uBsizsdHX5 .img-wrapper,
  .cid-uBsizsdHX5 img {
    height: auto;
  }
}
.cid-uBsizsdHX5 .text-wrapper {
  padding: 1rem 1.5rem;
  padding-right: 0;
}
@media (max-width: 767px) {
  .cid-uBsizsdHX5 .text-wrapper {
    padding: 1.5rem 1rem;
    padding-top: 2rem;
    text-align: center;
  }
}
.cid-uBsizsdHX5 .btn-md {
  padding: 0.2rem 1rem;
}
.cid-uBsizsdHX5 .img-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-uBsizsdHX5 .card-subtitle {
  color: #0095ff;
}
.cid-uBsizsdHX5 .mbr-text {
  color: #555555;
}
.cid-uBsizsdHX5 .card-title {
  color: #103178;
}
.cid-uBsizsdHX5 .mbr-section-title {
  color: #000000;
}
.cid-uBsizsdHX5 .mbr-fallback-image.disabled {
  display: none;
}
.cid-uBsizsdHX5 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uBsizsdHX5 .card-title,
.cid-uBsizsdHX5 .mbr-section-btn {
  color: #ffffff;
  text-align: center;
}
.cid-uBsm708S6J {
  padding-top: 0rem;
  padding-bottom: 3rem;
  background-color: #ffffff;
}
.cid-uBsm708S6J .card-wrapper {
  background: #004cd5;
}
.cid-uBsm708S6J .card {
  padding: 0.5rem;
}
.cid-uBsm708S6J .main-row {
  padding: 0 0.5rem;
}
.cid-uBsm708S6J .row {
  align-items: center;
  justify-content: center;
}
@media (max-width: 767px) {
  .cid-uBsm708S6J .row .row {
    flex-direction: column-reverse;
  }
  .cid-uBsm708S6J .row .row .img-wrapper {
    margin-bottom: 2rem;
  }
}
.cid-uBsm708S6J .img-wrapper,
.cid-uBsm708S6J img {
  height: 150px;
  object-fit: cover;
  margin: 0!important;
}
@media (max-width: 767px) {
  .cid-uBsm708S6J .img-wrapper,
  .cid-uBsm708S6J img {
    height: auto;
  }
}
.cid-uBsm708S6J .text-wrapper {
  padding: 1rem 1.5rem;
  padding-right: 0;
}
@media (max-width: 767px) {
  .cid-uBsm708S6J .text-wrapper {
    padding: 1.5rem 1rem;
    padding-top: 2rem;
    text-align: center;
  }
}
.cid-uBsm708S6J .btn-md {
  padding: 0.2rem 1rem;
}
.cid-uBsm708S6J .img-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-uBsm708S6J .card-subtitle {
  color: #0095ff;
}
.cid-uBsm708S6J .mbr-text {
  color: #555555;
}
.cid-uBsm708S6J .card-title {
  color: #103178;
}
.cid-uBsm708S6J .mbr-section-title {
  color: #000000;
}
.cid-uBsm708S6J .mbr-fallback-image.disabled {
  display: none;
}
.cid-uBsm708S6J .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uBsm708S6J .card-title,
.cid-uBsm708S6J .mbr-section-btn {
  color: #ffffff;
  text-align: center;
}
.cid-uBrf7AZsq6 {
  padding-top: 45px;
  padding-bottom: 45px;
  background: #ffffff;
}
.cid-uBrf7AZsq6 .card {
  margin-bottom: .75rem;
  padding: 1rem 2.5rem;
  background-color: #004cd5;
  width: 100%;
  border-radius: 0 !important;
}
.cid-uBrf7AZsq6 .card img {
  height: 59px;
  width: 100%;
  object-fit: contain;
}
.cid-uBrf7AZsq6 .mbr-section-subtitle {
  margin-top: .75rem;
  color: #000000;
  text-align: center;
}
.cid-uBrf7AZsq6 .logo-container {
  justify-content: space-around;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}
@media (min-width: 992px) {
  .cid-uBrf7AZsq6 .col-lg-1 {
    flex: 0 0 19.7%;
    max-width: 19.7%;
  }
}
.cid-uBrf7AZsq6 H2 {
  color: #000000;
  text-align: center;
}
.cid-uBrf7AZsq6 .mbr-section-subtitle,
.cid-uBrf7AZsq6 .mbr-section-btn {
  text-align: center;
}
.cid-uBsraF1fjS {
  background-color: #ffffff;
}
.cid-uBsraF1fjS img {
  width: 100%;
}
.cid-uBsraF1fjS .text-wrapper {
  z-index: 11;
}
.cid-uBsraF1fjS .wrapper {
  display: flex;
}
.cid-uBsraF1fjS .row {
  align-items: center;
}
.cid-uBsraF1fjS .animate__fadeInUp:before {
  background: #ffffff;
}
.cid-uBsraF1fjS .mbr-iconfont {
  display: block;
  font-size: 3rem;
  color: #000000;
  margin-right: 1.5rem;
}
@media (max-width: 767px) {
  .cid-uBsraF1fjS .wrapper {
    flex-direction: column;
  }
  .cid-uBsraF1fjS .iconfont-wrapper {
    margin: auto;
  }
  .cid-uBsraF1fjS .mbr-iconfont {
    margin-right: 0rem;
    margin-bottom: 2rem;
  }
}
.cid-uBsraF1fjS .mbr-section-title {
  color: #004cd5;
}
.cid-uBsraF1fjS .mbr-text,
.cid-uBsraF1fjS .mbr-section-btn {
  color: #161734;
}
.cid-uBsraF1fjS .mbr-fallback-image.disabled {
  display: none;
}
.cid-uBsraF1fjS .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uBqKqY7zii {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-uBqKqY7zii .contents {
  margin-bottom: 70px;
}
.cid-uBqKqY7zii .contents .mbr-subtitle {
  color: #4f87fb;
  margin-bottom: 10px;
  font-weight: 800;
}
.cid-uBqKqY7zii .contents .mbr-subtitle.display-4 {
  letter-spacing: 2px;
  line-height: 1.71;
  font-size: 13px;
}
.cid-uBqKqY7zii .contents .mbr-section-title {
  margin-bottom: 20px;
  color: #130947;
  font-weight: 700;
}
.cid-uBqKqY7zii .contents .mbr-section-title.display-2 {
  line-height: 1.2;
  letter-spacing: -0.5px;
}
.cid-uBqKqY7zii .contents .mbr-section-text {
  margin-top: 20px;
  color: #6d7a8c;
  font-weight: 400;
}
.cid-uBqKqY7zii .contents .mbr-section-text.display-7 {
  line-height: 1.5;
  letter-spacing: 0;
}
.cid-uBqKqY7zii .card {
  margin-bottom: 2rem;
}
.cid-uBqKqY7zii .card-block {
  font-weight: 400;
  letter-spacing: 0.03em;
  position: relative;
  background: #004cd5;
  color: #232323;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.08);
  padding: 1.9rem;
  margin-bottom: 35px;
  border-radius: 4px;
}
.cid-uBqKqY7zii .card-block.display-7 {
  font-size: 16px;
  line-height: 1.625;
}
.cid-uBqKqY7zii .card-block:before {
  content: '';
  position: absolute;
  bottom: -15px;
  left: 50%;
  margin-left: -14px;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-top: 15px solid #004cd5;
  border-right: 15px solid transparent;
}
.cid-uBqKqY7zii .mbr-author-img {
  width: 50px;
  height: 50px;
  display: inline-block;
  border-radius: 100%;
  margin-left: 0rem;
}
.cid-uBqKqY7zii .mbr-author-img img {
  width: 100%;
  border-radius: 100%;
  min-width: 100%;
  min-height: 100%;
}
.cid-uBqKqY7zii .name-wrap {
  display: inline-block;
}
.cid-uBqKqY7zii .card-footer {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  border-top: none;
  background: none;
  padding: 0 1.25rem 1.25rem 1.25rem;
}
.cid-uBqKqY7zii .mbr-author-desc {
  color: #767676;
  text-align: center;
}
.cid-uBqKqY7zii .card-block p {
  color: #ffffff;
  text-align: center;
}
.cid-uBqKqY7zii .mbr-author-name {
  color: #000000;
  margin-bottom: 5px;
}
.cid-uBqKqY7zii .mbr-section-title,
.cid-uBqKqY7zii .title div {
  color: #232323;
  text-align: center;
}
.cid-uBqKqY7zii .mbr-fallback-image.disabled {
  display: none;
}
.cid-uBqKqY7zii .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uBqKqY7zii .contents .mbr-section-title {
  color: #000000;
}
.cid-uBqKqY7zii .contents .mbr-subtitle {
  color: #004cd5;
}
.cid-uBqVeH1vWa {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background: #004cd5;
}
.cid-uBqVeH1vWa .mbr-fallback-image.disabled {
  display: none;
}
.cid-uBqVeH1vWa .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 992px) {
  .cid-uBqVeH1vWa .row .map-wrapper {
    margin-top: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-uBqVeH1vWa .row .map-wrapper {
    margin-top: 1rem;
  }
}
.cid-uBqVeH1vWa .google-map {
  height: 100%;
  position: relative;
}
.cid-uBqVeH1vWa .google-map iframe {
  height: 100%;
  width: 100%;
}
@media (max-width: 992px) {
  .cid-uBqVeH1vWa .google-map iframe {
    min-height: 350px;
  }
}
.cid-uBqVeH1vWa .google-map [data-state-details] {
  color: #6b6763;
  height: 1.5em;
  margin-top: -0.75em;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}
.cid-uBqVeH1vWa .google-map[data-state] {
  background: #e9e5dc;
}
.cid-uBqVeH1vWa .google-map[data-state="loading"] [data-state-details] {
  display: none;
}
.cid-uBqVeH1vWa .card-wrapper {
  padding: 2.25rem;
  background: #ffffff;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .cid-uBqVeH1vWa .card-wrapper {
    padding: 1.5rem;
  }
}
@media (max-width: 767px) {
  .cid-uBqVeH1vWa .card-wrapper {
    padding: 2rem 1.5rem;
  }
}
.cid-uBqVeH1vWa ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.cid-uBqVeH1vWa .content-head {
  max-width: 800px;
}
.cid-uBqVeH1vWa .mbr-section-title {
  color: #ffffff;
}
.cid-uBqVeH1vWa .list,
.cid-uBqVeH1vWa .item-wrap {
  color: #000000;
  text-align: center;
}
.cid-uBqVeH1vWa .cardTitle {
  color: #004cd5;
  text-align: center;
}
.cid-uBqpWLtBEp {
  padding-top: 3rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
}
.cid-uBqpWLtBEp .row-links {
  justify-content: center;
}
.cid-uBqpWLtBEp .social-row {
  justify-content: center;
  padding: 0 1rem;
}
.cid-uBqpWLtBEp .wrapper {
  display: flex;
}
.cid-uBqpWLtBEp .container {
  max-width: 1700px;
}
.cid-uBqpWLtBEp img {
  width: 75px;
  margin: auto;
  padding: 0 0.5rem;
}
.cid-uBqpWLtBEp img {
  filter: invert(1);
}
.cid-uBqpWLtBEp .row-copirayt {
  min-width: 300px;
}
.cid-uBqpWLtBEp .foot-menu-item {
  word-wrap: unset;
  word-break: unset;
  white-space: nowrap;
}
.cid-uBqpWLtBEp .line {
  width: 100%;
  height: 50px;
  position: relative;
}
.cid-uBqpWLtBEp .line:before {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
  background: #232323;
  content: "";
}
.cid-uBqpWLtBEp .row-links,
.cid-uBqpWLtBEp .wrapper {
  min-width: fit-content;
  padding: 0 0.5rem;
}
.cid-uBqpWLtBEp .foot-menu {
  width: fit-content;
}
.cid-uBqpWLtBEp .media-container-row {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.cid-uBqpWLtBEp .media-container-row .foot-menu {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-bottom: 0;
}
.cid-uBqpWLtBEp .media-container-row .foot-menu li {
  padding: 0 1rem;
}
.cid-uBqpWLtBEp .media-container-row .foot-menu li p {
  margin: 0;
}
.cid-uBqpWLtBEp .media-container-row .social-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  justify-content: flex-end;
}
.cid-uBqpWLtBEp .media-container-row .social-list .mbr-iconfont-social {
  font-size: 1.5rem;
  color: #004cd5;
  transition: all 0.3s;
}
.cid-uBqpWLtBEp .media-container-row .social-list .mbr-iconfont-social:hover {
  color: #004cd5;
}
.cid-uBqpWLtBEp .media-container-row .social-list .soc-item {
  margin: 0 0.5rem;
}
.cid-uBqpWLtBEp .media-container-row .social-list a {
  margin: 0;
}
@media (max-width: 767px) {
  .cid-uBqpWLtBEp .media-container-row .social-list {
    -webkit-justify-content: center;
    justify-content: center;
  }
}
.cid-uBqpWLtBEp .media-container-row .row-copirayt {
  word-break: break-word;
}
.cid-uBqpWLtBEp .media-container-row .row-copirayt p {
  width: 100%;
}
@media (max-width: 992px) {
  .cid-uBqpWLtBEp .media-container-row {
    justify-content: center;
  }
  .cid-uBqpWLtBEp .media-container-row .mbr-text {
    text-align: center;
  }
  .cid-uBqpWLtBEp .media-container-row .wrapper {
    flex-direction: column;
  }
  .cid-uBqpWLtBEp .media-container-row .foot-menu {
    margin: auto;
    padding-bottom: 1rem;
  }
}
.cid-uBqpWLtBEp .media-container-row .mbr-text {
  color: #000000;
}
.cid-uBqIHFIYbb {
  padding-top: 3rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
}
.cid-uBqIHFIYbb .row-links {
  justify-content: center;
}
.cid-uBqIHFIYbb .social-row {
  justify-content: center;
  padding: 0 1rem;
}
.cid-uBqIHFIYbb .wrapper {
  display: flex;
}
.cid-uBqIHFIYbb .container {
  max-width: 1700px;
}
.cid-uBqIHFIYbb img {
  width: 75px;
  margin: auto;
  padding: 0 0.5rem;
}
.cid-uBqIHFIYbb img {
  filter: invert(1);
}
.cid-uBqIHFIYbb .row-copirayt {
  min-width: 300px;
}
.cid-uBqIHFIYbb .foot-menu-item {
  word-wrap: unset;
  word-break: unset;
  white-space: nowrap;
}
.cid-uBqIHFIYbb .line {
  width: 100%;
  height: 50px;
  position: relative;
}
.cid-uBqIHFIYbb .line:before {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
  background: #232323;
  content: "";
}
.cid-uBqIHFIYbb .row-links,
.cid-uBqIHFIYbb .wrapper {
  min-width: fit-content;
  padding: 0 0.5rem;
}
.cid-uBqIHFIYbb .foot-menu {
  width: fit-content;
}
.cid-uBqIHFIYbb .media-container-row {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.cid-uBqIHFIYbb .media-container-row .foot-menu {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-bottom: 0;
}
.cid-uBqIHFIYbb .media-container-row .foot-menu li {
  padding: 0 1rem;
}
.cid-uBqIHFIYbb .media-container-row .foot-menu li p {
  margin: 0;
}
.cid-uBqIHFIYbb .media-container-row .social-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  justify-content: flex-end;
}
.cid-uBqIHFIYbb .media-container-row .social-list .mbr-iconfont-social {
  font-size: 1.5rem;
  color: #004cd5;
  transition: all 0.3s;
}
.cid-uBqIHFIYbb .media-container-row .social-list .mbr-iconfont-social:hover {
  color: #004cd5;
}
.cid-uBqIHFIYbb .media-container-row .social-list .soc-item {
  margin: 0 0.5rem;
}
.cid-uBqIHFIYbb .media-container-row .social-list a {
  margin: 0;
}
@media (max-width: 767px) {
  .cid-uBqIHFIYbb .media-container-row .social-list {
    -webkit-justify-content: center;
    justify-content: center;
  }
}
.cid-uBqIHFIYbb .media-container-row .row-copirayt {
  word-break: break-word;
}
.cid-uBqIHFIYbb .media-container-row .row-copirayt p {
  width: 100%;
}
@media (max-width: 992px) {
  .cid-uBqIHFIYbb .media-container-row {
    justify-content: center;
  }
  .cid-uBqIHFIYbb .media-container-row .mbr-text {
    text-align: center;
  }
  .cid-uBqIHFIYbb .media-container-row .wrapper {
    flex-direction: column;
  }
  .cid-uBqIHFIYbb .media-container-row .foot-menu {
    margin: auto;
    padding-bottom: 1rem;
  }
}
.cid-uBqIHFIYbb .media-container-row .mbr-text {
  color: #000000;
}
